<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Foorumi</title>
        <meta charset="utf-8" />
    </head>
    <body>
        <h1>Aihe</h1>
        <h2 th:text="${aihe.nimi}"></h2>

        <ul style="list-style-type:none">
            <li th:each="ketju: ${ketjut}">
                <a th:href="@{~/ketju/{id}(id=${ketju.id})}"
                   th:text="${ketju.otsikko}"></a>
                <i>viimeisin viesti: </i>
                <i th:text="${ketju.viimeisin != null} ? ${ketju.viimeisin}"></i>
            </li>
        </ul>
    </body>
</html>
