<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Foorumi</title>
        <meta charset="utf-8"/>
        <style>
            table, th, td {
                border: 1px solid black;
            }
            th, td {
                padding: 5px;
                text-align: left;
            }
        </style>
    </head>
    <body>
        <h1 th:text="${aihe.aiheNimi}"></h1>
        <h2>Lisää uusi ketju:</h2>
        <form method="POST" th:action=
              "@{~/uusiKetju/{aiheId}(aiheId=${aihe.aiheId})}">
            <table>
                <tr>
                    <th>otsikko</th>
                    <th></th>
                </tr>
                <tr>
                    <td>
                        <input type="text" name="otsikko"/>
                    </td>
                    <td>
                        <input type="submit" value="lisää"/>
                    </td>
                </tr>
            </table>
        </form>
        <table>
            <tr>
                <th>otsikko</th>
                <th>muokattu</th>
            </tr>
            <tr th:each="ketju: ${ketjut}">
                <td>
                    <a th:href="@{~/ketju/{ketjuId}(ketjuId=${ketju.ketjuId})}"
                       th:text="${ketju.ketjuOtsikko}"></a>
                </td>
                <td th:text="${ketju.ketjuMuokattu}"></td>
            </tr>
        </table>
        <p>
            <a th:href="@{~/}" th:text="takaisin"></a>
        </p>
    </body>
</html>
