<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Foorumi</title>
        <meta charset="utf-8" />
    </head>
    <body>
        <h1>Foorumi</h1>
        <h2>Aiheet</h2>

        <ul>
            <li th:each="aihe: ${aiheet}">
                <a th:href="@{~/aihe/{id}(id=${aihe.id})}"
                   th:text="${aihe.nimi}"></a>
            </li>
        </ul>
    </body>
</html>