<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Foorumi</title>
        <meta charset="utf-8" />
    </head>
    <body>
        <h1>Foorumi</h1>
        <h2>Aiheet</h2>

        <ul style="list-style-type:none">
            <li th:each="aihe: ${aiheet}">
                <a th:href="@{~/aihe/{aiheId}(id=${aihe.aiheId})}"
                   th:text="${aihe.aiheNimi}"></a>
                <i>muokattu: </i>
                <i th:text="${aihe.aiheMuokattu}"></i>
            </li>
        </ul>
    </body>
</html>