<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Ketju</title>
        <meta charset="utf-8"/>
    </head>
    <body>
        <h1 th:text="${ketju.ketjuOtsikko}"></h1>
        <h2>Kirjoita:</h2>
        <form method="POST" th:action=
              "@{~/uusiViesti/{ketjuId}(ketjuId=${ketju.ketjuId})}">
            <table>
                <tr>
                    <th>nimimerkki</th>
                    <th>sisältö</th>
                    <th></th>
                </tr>
                <tr>
                    <td>
                        <input type="text" name="nimimerkki"/>
                    </td>
                    <td>
                        <input type="text" name="sisalto"/>
                    </td>
                    <td>
                        <input type="submit" value="lähetä"/>
                    </td>
                </tr>
            </table>
        </form>
        <table>
            <tr th:each="viesti: ${viestit}">
                <td th:text="${viesti.viestiAika}"></td>
                <td th:text="${viesti.viestiSisalto}"></td>
                <td th:text="${viesti.viestiNimimerkki}"></td>
            </tr>
        </table>
        <p>
            <a th:href="@{~/aihe/{aiheId}(aiheId=${aihe.aiheId})}"
               th:text="takaisin"></a>
        </p>
    </body>
</html>
