<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${ketju.ketjuOtsikko}"></title>
        <meta charset="utf-8"/>
        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }
            th, td {
                padding: 5px;
                text-align: left;
            }
        </style>
    </head>
    <body>
        <h1 th:text="${ketju.ketjuOtsikko}"></h1>
        <h2>Luo uusi viesti:</h2>
        <form method="POST" th:action=
              "@{~/uusiViesti/{ketjuId}(ketjuId=${ketju.ketjuId})}">
            <table>
                <tr><th>nimimerkki</th></tr>
                <tr><td><input type="text" name="nimimerkki"/></td></tr>
                <tr><th>viesti</th></tr>
                <tr><td><textarea rows="4" cols="50" name="sisalto"/></td></tr>
            </table>
            <p><input type="submit" value="luo"/></p>
        </form>
        <h2>Viestit:</h2>
        <table>
            <tr>
                <th>nimimerkki</th>
                <th>viesti</th>
                <th>aika</th>
            </tr>
            <tr th:each="viesti: ${viestit}">
                <td th:text="${viesti.viestiNimimerkki}"></td>
                <td th:text="${viesti.viestiSisalto}"></td>          
                <td th:text="${viesti.viestiAika}"></td>
            </tr>
        </table>
        <p>
            <a th:href="@{~/ketju/{ketjuId}/{offset}(ketjuId=${ketju.ketjuId},
               offset=${offset}-10)}"
               th:text="edelliset"></a>
            <a th:href="@{~/ketju/{ketjuId}/{offset}(ketjuId=${ketju.ketjuId},
               offset=${offset}+10)}"
               th:text="seuraavat"></a>
        </p>
        <p>
            <a th:href="@{~/aihe/{aiheId}(aiheId=${aihe.aiheId})}"
               th:text="ketjuihin"></a>
        </p>
    </body>
</html>
